.habit-container {
  height: 79px;
  width: 658px;
  background-color: #F8F8F8;
  padding: 12px;
  margin: 20px 0;
  font-family: quicksand-semi-bold;
  font-size: 18px;
  color: #4A4A4A;
}

.button-container {
  height: 79px;
  width: 97px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

/* .loading-container {
  display: flex;
  flex-direction: row;
} */
